* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Playfair", serif;
}

header {
  background-image: url('https://images.pexels.com/photos/25049380/pexels-photo-25049380.jpeg');
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  height: 500px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.438);
}